nav ul {
  list-style: none;
  display: flex;
  align-items:center;
}
nav img {
  margin-right:10px; 
}

nav img.last {
  margin-left: 305px; 
    }
nav .mobile-number {
      color: white;
    }
nav .a {
  background-color: rgb(21, 241, 69);
}
nav .a {
  margin-left:10px;
}
nav .war{
  margin-left: 30px;
}

.nav {
padding: 10000px 0;
}


nav .b {
margin-left: 200px;
}


nav .c {
margin-left: 20px;
}

nav .d {
margin-left: 20px;
}

nav .e {
margin-left: 20px;
}

nav .f {
margin-left: 20px;
}

nav .g {
margin-left: 20px;
}


nav .h {
margin-left: 20px;
}


nav .i {
margin-left: 20px;
}




.carousel-caption h1,
.carousel-caption p {
color: white; 

}
a .wa{
  margin-left: 41%;
  padding: 0.5px;
}
.image-container img {
  
  margin-left: 110px; /* adds 10 pixels of space between images */
}
 /* <style> */
  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
                             /* our advantages */
   /* gallery display */
   .photos {
    /* display: block; */
    display: flex;
    margin-right:10 ;
    margin-top: 29;
  }

  .photos ul {
    list-style: none;

  }

  .photos ul li { 
      display: inline;
      list-style: none;
      float: left;
      padding: 0 10px 0 0;
      text-align:center; 
  }

  .photos ul li span a {
      background-color: #fff;
  }

  .photos ul li a {
display: flex;
    display: block;
    
    margin-right:23;
     margin-bottom: 10px; 
     opacity: 0.75;
     -webkit-transition: all 0.3s linear;
     -moz-transition: all 0.3s linear;
     transition: all 0.3s linear;
   }
   .photos ul li a:hover {
     opacity: 1.0;
   }

   .photos ul li a img {
     border: 6px solid #e1d9ec;
   } 


   a .ward{
    margin-left: 43%;
    padding: 2 px;
  }

                     /* about us */
  #article {
    width: 650px;
    min-height: 280px;
    margin: 20px;
    background-color: #e1d9ec;
}

                                                  
#article p {
    font-size: .8em;
    /* line-height: 1.6em; */
    margin-left: 50px ;
    margin-right:100px ;
    background-color: #e1d9ec;
}
        
#win {
    position: relative;
    left: 400px;
    margin-left:60px ;
    top:auto;
    float: right;
    background-color: #e1d9ec;
}

                                                          /* about us end */


                                                          /* our skills */
 a .warda{
          margin-left: 43%;
          align-items:center;
          padding: 2 px;
          
 }

 a p.hihi{
 
  font-size: small;
 }
/* gallery display */
.pics {
  /* display: block; */
  display: flex;
  margin-right:10 ;
  margin-top: 29;
}

.pics ul {
  list-style: none;

}

.pics ul li { 
    display: inline;
    list-style: none;
    float: left;
    padding: 0 10px 0 0;
    text-align:center; 
}

.pics ul li span a {
    background-color: #fff;
}

.pics ul li a {
display: flex;
  display: block;
  
  margin-right:23;
   margin-bottom: 10px; 
   opacity: 0.75;
   -webkit-transition: all 0.3s linear;
   -moz-transition: all 0.3s linear;
   transition: all 0.3s linear;
 }
 .pics ul li a:hover {
   opacity: 1.0;
 }

 pics ul li a img {
   border: 6px solid #e1d9ec;
 } 


 a .ward{
  margin-left: 43%;
  padding: 2 px;
}
                       /* our skills end */



                       #container p {
                        font-size: .8em;
                        /* line-height: 1.6em; */
                        margin-left: 50px ;
                        margin-right:100px ;
                        background-color: greenyellow;
                    }


.p-1{
  background-color: blueviolet;
}